html{
    height: 100%;
}
.round{
    border-radius: 100px;
    border: 3px solid rgba(32, 34, 2, 0.863); 
    box-shadow: 0 0 7px rgb(3, 3, 3); 

}
body{
    background-color: rgba(139, 0, 0);
}

.col {
    background-color:rgba(128, 0, 0);
}

 .col.booshapka,.container-fluid{
    background-color: rgba(100, 0, 0)
}



.boonav ul li{
    list-style-type: none;
}
.boonav ul{
    
    padding-right: 20px;
}

.boonav{
    clear:both;
}
nav a{
    text-decoration: none;
}
.logo{
    float: left;
}
table{
    border-collapse: collapse;
    border: 3px solid rgba(0, 0, 0, 0.788);
    text-align: center;
}

th,td{
    border: 1px solid rgba(0, 0, 0, 0.788);
  

}

tr:nth-child(even){
    background-color: rgba(27, 90, 71, 0.664);
}

tr:nth-child(odd){
    background-color: rgba(54, 79, 87, 0.76);
}






@media screen and (min-device-width: 800px) { 
    .h{
        float: none;  
    }
    .booshapka,.row,.col,.end{
        max-width: 960px;
    }
    }